<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.kackbip.impactMapping">

    <application
        android:name=".application.ImpactMappingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.goals.view.GoalsView"
            android:label="@string/title_activity_goals">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.goalCreation.view.GoalCreationView"
            android:label="@string/title_activity_create_goal" />
    </application>

</manifest>